<!DOCTYPE html>
<html>
  <head>
    <title>{{appName}}</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.{{primaryColor}}-{{accentColor}}.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
                mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{appName}}</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/users/register">Register</a>
          <a class="mdl-navigation__link" href="/users/login">Login</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          {{{body}}}
        </div>
      </main>
    </div>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    {{{block "scripts"}}}
  </body>
</html>
