<!DOCTYPE html>
<html>
  <head>
    <title>Coliseo</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.{{primaryColor}}-{{accentColor}}.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout
                mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a class="title" href="/"><img class="logo" src="https://camo.githubusercontent.com/41a71af7a568072aef542a3676aded5c7764efe6/68747470733a2f2f63646e2e7261776769742e636f6d2f6c6d7563732f436f6c6973656f2f6d61737465722f6c6f676f2e737667"></a></span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            {{#unless ownUsername}}
              <a class="mdl-navigation__link" href="/users/register">{{register}}</a>
              <a class="mdl-navigation__link" href="/users/login">{{login}}</a>
            {{/unless}}
            {{#if ownUsername}}
              <a class="mdl-navigation__link" href="/leaderboard/user/{{ownUsername}}">{{ownUsername}}</a>
              <a class="mdl-navigation__link" href="/users/logout">{{logout}}</a>
            {{/if}}
       <!--      <a class="mdl-navigation__link" href="/leaderboard">Leaderboard</a>
            <a class="mdl-navigation__link" href="/leaderboard/user">User Profile</a> -->
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a class="title" href="/"><img class="logo" src="https://camo.githubusercontent.com/41a71af7a568072aef542a3676aded5c7764efe6/68747470733a2f2f63646e2e7261776769742e636f6d2f6c6d7563732f436f6c6973656f2f6d61737465722f6c6f676f2e737667"></a></span>
        <nav class="mdl-navigation">
          {{#unless ownUsername}}
            <a class="mdl-navigation__link" href="/users/register">{{register}}</a>
            <a class="mdl-navigation__link" href="/users/login">{{login}}</a>
          {{/unless}}
          <a class="mdl-navigation__link" href="/leaderboard">{{leaderboard}}</a>
          {{#if ownUsername}}
            <a class="mdl-navigation__link" href="/leaderboard/user/{{ownUsername}}">{{userProfile}}</a>
            <a class="mdl-navigation__link" href="/users/logout">{{logout}}</a>
          {{/if}}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          {{{body}}}
        </div>
      </main>
    </div>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    {{{block 'scripts'}}}
  </body>
</html>
