<form action="#" method='POST'>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" name="email" value="{{email}}" />
        <label class="mdl-textfield__label" for="email">Email</label>
        <span class="mdl-textfield__error">Given address is not a valid email address</span>
      </div>
      {{#emailError}}
        <p class="form-error">
          {{regEmailError}}
        </p>
      {{/emailError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username" pattern="{{usernamePattern}}" value="{{username}}" />
        <label class="mdl-textfield__label" for="username">Username</label>
        <span class="mdl-textfield__error">Username must contain alphabetic characters only</span>
      </div>
      {{#isUserError}}
        <p class="form-error">
          {{regUserError}}
        </p>
      {{/isUserError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" pattern="{{passwordPattern}}" />
        <label class="mdl-textfield__label" for="password">Password</label>
        <span class="mdl-textfield__error">Password is not long enough</span>
      </div>
      {{#isPasswordError}}
        <p class="form-error">
          {{regPasswordError}}
        </p>
      {{/isPasswordError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="confirm" pattern="{{passwordPattern}}" />
        <label class="mdl-textfield__label" for="confirm">Confirm Password</label>
        <span class="mdl-textfield__error">Password is not long enough</span>
      </div>
      {{#isConfirmError}}
        <p class="form-error">
          {{regConfirmError}}
        </p>
      {{/isConfirmError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
