<form action="#" method='POST'>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" name="email" value="{{email}}">
        <label class="mdl-textfield__label" for="email">Email</label>
        <span class="mdl-textfield__error">Given address is not a valid email address</span>
      </div>
      {{#isEmailError}}
        <p class="form-error">
          {{regEmailError}}
        </p>
      {{/isEmailError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username" pattern="{{usernamePattern}}" value="{{username}}" />
        <label class="mdl-textfield__label" for="username">Username</label>
        <span class="mdl-textfield__error">Username must contain alphabetic characters only</span>
      </div>
      {{#isUserError}}
        <p class="form-error">
          {{regUserError}}
        </p>
      {{/isUserError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div id="password-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password">
        <label class="mdl-textfield__label" for="password">Password</label>
        <span class="mdl-textfield__error">Password is not strong enough</span>
      </div>
      {{#isPasswordError}}
        <p class="form-error">
          {{regPasswordError}}
        </p>
      {{/isPasswordError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div id="confirm-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="confirm">
        <label class="mdl-textfield__label" for="confirm">Confirm Password</label>
        <span class="mdl-textfield__error">Passwords do not match</span>
      </div>
      {{#isConfirmError}}
        <p class="form-error">
          {{regConfirmError}}
        </p>
      {{/isConfirmError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
{{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}}
