<form action="#" method='POST'>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" name="email" value="{{email}}">
        <label class="mdl-textfield__label" for="email">{{emailTitle}}</label>
        <span class="mdl-textfield__error">{{clientSideEmailInvalid}}</span>
      </div>
      {{#isEmailError}}
        <p class="form-error">
          {{regEmailError}}
        </p>
      {{/isEmailError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username" pattern="{{usernamePattern}}" value="{{username}}" />
        <label class="mdl-textfield__label" for="username">{{usernameTitle}}</label>
        <span class="mdl-textfield__error">{{clientSideUserInvalid}}</span>
      </div>
      {{#isUserError}}
        <p class="form-error">
          {{regUserError}}
        </p>
      {{/isUserError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div id="password-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password">
        <label class="mdl-textfield__label" for="password">{{passwordTitle}}</label>
        <span class="mdl-textfield__error">{{regPasswordError}}</span>
      </div>
      {{#isPasswordError}}
        <p class="form-error">
          {{regPasswordError}}
        </p>
      {{/isPasswordError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div id="confirm-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="confirm">
        <label class="mdl-textfield__label" for="confirm">{{confirmPasswordTitle}}</label>
        <span class="mdl-textfield__error">{{regConfirmError}}</span>
      </div>
      {{#isConfirmError}}
        <p class="form-error">
          {{regConfirmError}}
        </p>
      {{/isConfirmError}}
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          {{submit}}
        </button>
      </div>
    </div>
  </div>
</form>
{{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}}
