<div class="userPage">
  <div class="highscore">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{highScoreTitle}}:</h2>
      </div>
      <div class="mdl-card__supporting-text scores">
        <ol>
          {{#each scores}}
            <li>{{score}}</li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="userPage">
  <div class="bio">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{biographyTitle}}:</h2>
      </div>
      {{#unless isOwnUser}}
        <div class="mdl-card__supporting-text about">
          {{biography}}
        </div>
      {{/unless}}
      {{#if isOwnUser}}
        <form action="#" method='POST'>
          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" >{{biography}}</textarea>
            <label class="mdl-textfield__label" for="sample5">Text lines...</label>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div id="password-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" name="password" />
              <label class="mdl-textfield__label" for="password">{{passwordTitle}}</label>
            </div>
          </div>
        </form>
      {{/if}}
    </div>
  </div>
</div>
