<div>
  <div class="demo-card-event mdl-card mdl-shadow--2dp center wrapper">
    <div>
      <h4 class="user">{{userProfile}}</h4>
    </div>
    <div class="mdl-card__title mdl-card--expand">
      <div>
        <p class="username">{{username}}</p>
        <p class="highscore">{{highScoreTitle}}</p><br>
        <ol>
          {{#each scores}}
            <li>{{score}}</li>
          {{/each}}
        </ol>
        <p class="bio">{{biographyTitle}}</p>
        {{#unless isOwnUser}}
          <p>{{biography}}</p>
        {{/unless}}
        {{#if isOwnUser}}
          <form action="#" method='POST'>
            <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" >{{biography}}</textarea>
              <label class="mdl-textfield__label" for="sample5">Text lines...</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div id="password-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="password" />
                <label class="mdl-textfield__label" for="password">{{passwordTitle}}</label>
              </div>
            </div>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!-- {{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}} -->
