<div>
  <div class="demo-card-event mdl-card mdl-shadow--2dp center wrapper">
    <div>
      <h4 class="user">{{userProfile}}</h4>
    </div>
    <div class="mdl-card__title mdl-card--expand">
      <div>
        <p class="username">{{username}}</p>
        <p class="highscore">{{highScoreTitle}}</p><br>
        <ol>
          {{#each scores}}
            <li>{{score}}</li>
          {{/each}}
        </ol>
        <p class="bio">{{biographyTitle}}</p>
        <p>{{biography}}</p>
      </div>
    </div>
  </div>
</div>

<!-- {{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}} -->
